.DS_Store

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# build
build/
dist/
*.log

CATS_v2/venv/
venv/
.venv/

# secrets
.env
CATS_v2/.env

.claude/
